/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: auto; /* Mover botón al lado derecho */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

main {
    padding: 1rem;
}

.perfil-info {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc; /* Color de fondo simulado */
    margin-right: 1rem;
}

.info-usuario {
    flex: 1;
}

#descripcionUsuario {
    color: #555;
}

#nuevaPublicacion {
    display: none; /* Ocultar formulario de publicación por defecto */
}

#muro {
    margin-top: 2rem;
}

.publicacion {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.publicacion h3 {
    margin-top: 0;
}

.publicacion img {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
}
